@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb; /* bg-gray-50 */
}

@keyframes float-up-fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.animate-float-up {
  animation: float-up-fade-out 1s ease-out forwards;
}
